html,
body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

#titles {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    height: 100%;
}

#work {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    height: 100%;
}

#row1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

#row2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

#row3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

#tasks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}

.flex-item {
    text-align: center;
}

.flex-container>div {
    font-size: 30px;
    width: 33.3%;
    padding: 20px 0;
}

#titleTodo {
    background-color: orange;
}

#titleInProgress {
    background-color: lightskyblue;
}

#titleDone {
    background-color: limegreen;
}