.tasks {
    display: flex;
}
  
.tasks > div {
    font-size: 30px;
    text-align: center;
}

body {
    margin: 0px;
}

.columnTitle {
    padding: 15px;
}

.dialog {
    position: fixed;
    padding-top: 10vh;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.dialogContent {
    margin: auto;
    background-color: ghostwhite;
    padding: 5vh;
    box-shadow: 10px 10px 5px dimgrey;
    width: 40%;
    text-align: center;
}

#inputTask {
    width: 50%;
    min-width: 100px;
    margin-bottom: 2vh;
    height: 25px;
}
 
.closeDialog {
    color: dimgrey;
    float: right;
    font-size: 30px;
}
.closeDialog:hover, .close:focus {
    cursor: pointer;
}

#ButtonCreate {
    width: 25%;
    min-width: 100px;
}
#ButtonCreate:hover {
    cursor: pointer;
}

#ColumnContent0 {
    margin-right: 0.75px;
}
#ColumnContent1 {
    margin: 0 0.75px;
}
#ColumnContent2 {
    margin-left: 0.75px;
}

.task {
    border-style: solid;
    border-color: transparent;
    background-color: lightsteelblue;
    margin-bottom: 10px;
}

.NewTask {
    background-color: lightgray;
    border: none;
    font-size: 20px;
}

.NewTask:hover {
    cursor: pointer;
    border: solid 1px black;
}

.buttonTasks {
    background-color: transparent;
    border: none;
}
.buttonTasks:hover {
    background-color: lightgray;
    border: solid 1px black;
}

.buttonCreate {
    background-color: lightgray;
    border: none;
    font-size: 20px;
    padding: 10px;
}

.column_title {
    padding: 10px;
}